In [2]:
import pandas as pd

xls = pd.ExcelFile('comparativo.xlsx')
df1 = pd.read_excel(xls, 'Hoja1')

In [4]:
df1_v = df1['Vivero']
lista_viveros = list(set(df1_v.tolist()))
df = pd.DataFrame(lista_viveros, columns=["vivero"])
df

                 vivero
0             SILVESTRA
1         VIVERO ARABIA
2          VIVERO LUJAN
3  Los Pinos (Lopresti)

In [21]:
df_styled = df.style.apply(lambda x: ['background: yellow' if x == 'VIVERO ARABIA' else 'background: green' for x in df.vivero], axis=0)

In [22]:
df_styled